@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  font-family: Poppins;
}
body {
  background: #f1fbff;
}

.section-padding {
  padding: 50px 0;
}
.carousel-item {
  height: 100vh;
  min-height: 300px;
}
.carousel-caption {
  bottom: 220px;
  z-index: 2;
}
.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}
.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 1.9;
}
.carousel-inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.navbar .navbar-nav .nav-link {
  color: #000;
}

.navbar .navbar-nav .nav-link:hover {
  font-weight: 600;
  text-decoration: underline;
}

.navbar-nav a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

.w-100 {
  height: 100vh;
}

.services .card-body i {
  font-size: 50px;
}

.team .card-body {
  font-size: 18px;
}

.portfolio .card {
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0, 15);
}

.portfolio .card-text {
  font-size: 18px;
}

.team .card-text {
  font-size: 16px;
}

.team .card {
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0, 15);
}

.services .services-card-text {
  font-size: 18px;
}

.about-text p {
  font-size: 16px;
  text-align: justify;
}

/* responsive css */

@media only screen and (min-width: 767px) and (max-width: 991px) {
  .carousel-caption {
    bottom: 200px;
  }
  .carousel-caption p {
    width: 100%;
  }
  .card {
    margin-bottom: 30px;
  }
  .img-area {
    width: 100%px;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-nav {
    text-align: center;
  }
  .carousel-caption {
    bottom: 125px;
  }
  .carousel-caption a {
    padding: 10px 15px;
  }
  .carousel-caption p {
    width: 100%;
    line-height: 1.6;
    font-size: 12px;
  }
  .about-text {
    padding-top: 50px;
  }

  .card {
    margin-bottom: 30px;
  }
}
.pulse {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 80px;
  width: 80px;
  background: linear-gradient(#032263, #687aa1);
  position: fixed;
  margin: auto;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
}
.pulse__icon {
  color: #032263;
  width: 40px;
  height: 40px;
}
.pulse:before,
.pulse:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #032263;
  border-radius: 50%;
  z-index: -1;
  opacity: 0.7;
}
.pulse:before {
  animation: pulse 2s ease-out infinite;
}
.pulse:after {
  animation: pulse 2s 1s ease-out infinite;
}
@keyframes pulse {
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
